* {
    font-family: georgia, "times new roman", times, serif;
    margin: 0;
    padding: 0;
}

/*Navigation bar*/

.nav {
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
    height: 39px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.nav p {
    font-family: helvetica, arial, sans-serif;
}


.icons {
    position: relative;
    left: 1%;
    padding: 0 10px;
    top: 20%;
}

.nav p {
    font-size: 14.25px;
    left: 7%;
    letter-spacing: 0.7;
    line-height: 19px;
    position: absolute;
    top: 20%;

}

.nav img {
    height: 26px;
    position: absolute;
    left: 50%;
    margin-left: -94.5px;
    top: 20%;
    width: 189px;
}

.btn {
    background-color: #6288a5;
    border-radius: 3px;
    color: #ffffff;
    font-size: 11px;
    float: right;
    height: 32px;
    letter-spacing: 0.55px;
    line-height: 11px;
    margin: 0 5px;
    min-width: 63px;
    padding: 0 5px;
    position: relative;
    right: 1%;
    top: 8%;
    text-align: center;

}

/* Main Content*/
.main {
    padding-top: 40px;
    width: 100vw;
}

#title {
    font-size: 40px;
    font-style: italic;
    height: 96px;
    line-height: 48px;
    padding: 35px;
    position: relative;
    left: 25%;
}

#main-img {
    height: 531px;
    left: 50%;
    margin-left: -472.5px;
    position: relative;
    width: 945px;

}

.imageText {
    left: 50%;
    margin-left: -472.5px;
    position: relative;
    width: 945px;
}

.imageText p {
    display: inline;
}

.description {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.author {
    color: #666666;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: 18px;
    text-align: left;
    
}

.name-author {
    color: #121212;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.article-info {
    left: 50%;
    margin-left: -300px;
    margin-top: 35px;
    position: relative;
    width: 600px;
}

.name-author a {
    color: #333333;
}

.container-info {
padding: 20px 0;
}

.container-info p {
    color: #333333;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    float: left;
    letter-spacing: 0.28px;
    line-height: 18px;
}

.container-info img {
    background-color: #eeeeee;
    border-radius: 100%;
    height: 15px;
    float: right;
    margin: 0 5px;
    padding: 5px;
    width: 15px;
}

/* ARTICLE */

.articleContainer {
    left: 50%;
    margin-left: -300px;
    margin-top: 30px;
    position: relative;
    width: 600px;
}

.articleText {
    color: #333333;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: start;
}


.articleTitle {
    color: #333333;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom:15px;
    position: relative;
    text-align: start;
}

.articleTitle2 {
    color: #333333;
    font-size: 20px;
    left: 50%;
    line-height: 30px;
    margin-left: -475px;
    margin-top: 35px;
    margin-bottom:15px;
    position: relative;
    text-align: start;
}

.captionImage {
    color: #666666;
    font-size: 14px;
    left: 50%;
    line-height: 18px;
    margin-left: -475px;
    position: relative;
    text-align: start;
    width: 950px;
}

.articleImage {
    height: 565px;
    left: 50%;
    margin-left: -475px;
    position: relative;
    width: 950px;
}

.articleImage img {
    height: 565px;
    width: 950px;
}

.articleImage p {
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    width: 225px;
}

.articleContainer iframe {
    border: 0;
    height: 330px;
    margin-top: 30px;
    width: 600px;
    
}

.videoDescription1 {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.videoDescription2 {
    color: #888888;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 30px;
}


/* Text on the article image*/
.textImg1 {
    top: 150px;
}

.textImg2 {
    left: 240px;
    top: 150px;
}

.textImg3 {
    left: 480px;
    top: 150px;
}

.textImg4 {
    left: 730px;
    top: 150px;
}

.textImg5{
    top: 430px;
}

.textImg6 {
    left: 240px;
    top: 430px;
}

.textImg7 {
    left: 480px;
    top: 430px;
}

.textImg8 {
    left: 730px;
    top: 430px;
}

.articleImageAuthor {
    height: 50px;
    left: 50%;
    margin-left: -475px;
    margin-top: 50px;
    position: relative;
    width: 950px;
}

.articleImageAuthor p {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    text-align: start;
}

.littleDivider {
    border: 0.5px solid black;
    width: 60px;
}